/* Global styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

/* App container */
.app {
  display: flex;
  flex-wrap: wrap;
  margin-top: 3rem;
  justify-content: center;
  align-items: flex-start;
  padding: 20px;
  gap: 20px;
}

h1 {
  margin-bottom: 20px;
  font-size: 1.5rem;
  margin-top: 0;
}

/* Task list container */
.task-list {
  flex: 1;
  min-width: 300px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  background-color: #f9f9f9;
}

h2 {
  text-align: center;
  margin-bottom: 10px;
}

/* Task card */
.task-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
}

.task-card span {
  flex: 1;
  margin-right: 10px;
}

.task-card button {
  padding: 5px 10px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  background-color: #007bff;
  color: #fff;
}

.task-card button:not(:last-child) {
  margin-right: 5px;
}

.task-card button:hover {
  background-color: #0056b3;
}

/* Add task form */
form {
  display: flex;
  align-items: flex-start;
  margin-bottom: 10px;
}

input[type="text"] {
  flex: 1;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 3px;
  margin-right: 10px;
}

button[type="submit"] {
  padding: 5px 10px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  background-color: #28a745;
  color: #fff;
}

button[type="submit"]:hover {
  background-color: #1a732e;
}

/* Export to Excel button */
button {
  padding: 5px 10px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  background-color: #ffc107;
  color: #fff;
  margin-bottom: 10px;
}

button:hover {
  background-color: #c79100;
}
select{
  margin-right: 0.5rem;
}